NYC311_APP_TOKEN=your_token_here
NYC311_APP_TOKEN=your_token_here
ENVIRONMENT=local
GCP_PROJECT_ID=your_project_id_here
GCS_BUCKET_NAME_PROD=your_bucket_name_here
GOOGLE_APPLICATION_CREDENTIALS=credentials/your_key_file.json
GEMINI_API_KEY=your_key_here